<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Música</title>
    <script src="https://kit.fontawesome.com/a68a3b4328.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>music //</h1>
        <nav>
            <h5>Direct Links</h5>
            <ul>
                <li><a href="#album">album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </nav>
        <section>
            <article id="album">
                <h4>album<br>twist in my reality</h4>
                <img src="/img/p4.png" alt="emilia-playlist">
                <ol>
                    <li><i class="fa-solid fa-play"></i> Organic Love | 02:40</li>
                    <li><i class="fa-solid fa-play"></i> Twist In My Reality | 02:10</li>
                    <li><i class="fa-solid fa-play"></i> Street Light | 03:28</li>
                    <li><i class="fa-solid fa-play"></i> Love Don't Live HereAnymore (Cover) | 03:49</li>
                </ol>
                <a href="#">Go Top</a>
            </article>
            <article>
                <h4>video<br>organic love</h4>
                <iframe src="https://player.vimeo.com/video/135166028" frameborder="0" width="640" height="360"></iframe>
            </article>
        </section>
    </main>
</body>
</html>